.mission-cite {
    padding: 0;
    margin: 0;
}

.resources .downs {
    margin: 0;
    padding: 0;
    display: block;
}

.resources .downs li {
    padding: 0;
    display: inline-block;
}

.icon-text {
    position: relative;
    top: 5px;
}

.font-welcome {
    font-family: tenby-five, sans-serif !important;
}

.spons-page {
    height: 100%;
}

.spon-levs li .lead-name {
    font-family: Arial, sans-serif;

}

.blog-spacing {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.blog-sep {
    padding-left: 30px;
    margin: 0 0 0 5px;
    border-left: #7C51A5 1px solid;
}